<div class="container">
    <embed src="https://www.airbnb.com/h/manatialsietetazas" style="width: 100%; height: 80%"></embed>
</div>
<div class="airbnb-embed-frame" data-id="776711180252818370" data-view="home" style="width:450px;height:300px;margin:auto">
    <a href="https://es-l.airbnb.com/rooms/776711180252818370?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">Ver en Airbnb</a>
    <a href="https://es-l.airbnb.com/rooms/776711180252818370?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" rel="nofollow">Exclusiva cabaña full equipada</a>
    <script async="" src="https://www.airbnb.cl/embeddable/airbnb_jssdk"></script>
</div>
<script>
$(document).ready(function(){
    $('#navAlojamiento').addClass('active');
    $('#navGaleria').removeClass('active');
    $('#navInicio').removeClass('active');
    $('#navContacto').removeClass('active');
});
</script>