<div class="row">
    <div class="col-12 d-flex justify-content-end" style="background-image: url('img_galeria/DSC_0052.jpg'); height: 100vh; max-height: 100vh;overflow: auto;">
        <div class="col-lg-6 col-12 bg-dark text-white rounded text-center d-flex align-items-center justify-content-center" style="opacity: 0.8;">
            <table>
                <tbody>
                    <tr>
                        <td><h4>Sitio en Construcción <i class="fa-solid fa-gear fa-spin"></i></h4></td>
                    </tr>
                    <tr>
                        <td>
                            <!-- redes sociales -->
                            <br>
                            <a href="#" class="p-1" style="text-decoration: none; color: white;"><i class="fa-brands fa-instagram fa-5x"></i></a>
                            <a href="#" class="p-1" style="text-decoration: none; color: white;"><i class="fa-brands fa-facebook fa-5x"></i></a>
                            <a href="#" class="p-1" style="text-decoration: none; color: white;"><i class="fa-brands fa-tiktok fa-5x"></i></a>
                            <a href="https://ul.waze.com/ul?ll=-35.44790800%2C-71.03858500&navigate=yes&utm_medium=send_to_phone_QR" class="p-1" style="text-decoration: none; color: white;"><i class="fa-brands fa-waze fa-5x"></i></a>
                            <a href="https://www.airbnb.com/h/manatialsietetazas" class="p-1" style="text-decoration: none; color: white;"><i class="fa-brands fa-airbnb fa-5x"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            
        </div>
    </div>
</div>