<div class="container" style="--bs-gutter-x: 0 !important; z-index: 1;">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <!-- img_index/tinaja.jpeg -->
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="img_index/tinaja.jpeg" class="d-block mx-auto movermovil" style="height: 90vh;" alt="...">
        <div class="carousel-caption d-md-block rounded text-white bg-dark" style="opacity: 0.8;">
            <h5>PRONTO</h5>
            <p>TINAJAS CALIENTES Y SAUNA</p>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
        <img src="img_galeria/DSC_0052.jpg" class="d-block mx-auto movermovil" style="height: 90vh;" alt="...">
        <div class="carousel-caption d-md-block rounded text-white bg-dark" style="opacity: 0.8;">
            <h5>Cabañas Full Equipadas</h5>
            <p>Muy cercanas a atractivos turísticos</p>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
        <img src="img_galeria/DSC_0054.jpg" class="d-block mx-auto movermovil" style="height: 90vh;" alt="...">
        <div class="carousel-caption d-md-block rounded text-white bg-dark" style="opacity: 0.8;">
            <h5>Ideal para desconectarse</h5>
            <p>Lugar ideal para disfrutar en familia</p>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
        <img src="img_galeria/DSC_0047.jpg" class="d-block mx-auto movermovil" style="height: 90vh;" alt="...">
        <div class="carousel-caption d-md-block rounded text-white bg-dark" style="opacity: 0.8;">
            <h5>Electricidad 24/7 solar y Wifi satelital</h5>
            <p>Ideal para los que no quieren dejar sus redes sociales</p>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
        <img src="img_galeria/DSC_0076.jpg" class="d-block mx-auto movermovil" style="height: 90vh;" alt="...">
        <div class="carousel-caption d-md-block rounded text-white bg-dark" style="opacity: 0.8;">
            <h5>Disfruta de lo natural</h5>
            <p>A pasos de pozones del rio claro</p>
        </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
        <img src="img_galeria/DSC_0020.jpg" class="d-block mx-auto movermovil" style="height: 90vh;" alt="...">
        <div class="carousel-caption d-md-block rounded text-white bg-dark" style="opacity: 0.8;">
            <h5>Cercano a atractivos turisticos</h5>
            <p>Cercano a El Velo de la Novia, Parque nacional Radal Siete Tazas, sector Parque Ingles</p>
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>

<!-- link video -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 9;">
  <div id="videopopup" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="fa-brands fa-youtube text-danger pe-2"></i>
      <strong class="me-auto">Video</strong>
      <small>Nuevo</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-center">
      <a href="https://www.youtube.com/watch?v=PIMzMUW-5yw&ab_channel=ManantialSieteTazas" target="_blank" style="text-decoration: none;"><i class="fa-brands fa-youtube text-danger pe-2 fa-2xl"></i> Ir a ver</a>
    </div>
  </div>
</div>

<script src="/js/inicio.js"></script>