<div class="container">
    <h3 class="m-4"><i class="fa-regular fa-calendar-days"></i> Reservar Fecha</h3>
    <hr>
    <div class="alert alert-danger" role="alert">
        Se ha anulado la compra. <br>Puede volver a reservar <a href="/reserva">Aquí</a>
    </div>
</div>

<script>
$(document).ready(function(){
    $('#navReserva').addClass('active');
    $('#navGaleria').removeClass('active');
    $('#navInicio').removeClass('active');
    $('#navContacto').removeClass('active'); 
});
</script>