<div class="container">
    <h3 class="m-4"><i class="fa-regular fa-calendar-days"></i> Reservar Fecha</h3>
    <hr>
    <div class="alert alert-success" role="alert">
        Reserva Lista! Pago realizado exitosamente. <br>Se enviará un mail con el comprobante de reserva.
    </div>
</div>

<script>
$(document).ready(function(){
    $('#navReserva').addClass('active');
    $('#navGaleria').removeClass('active');
    $('#navInicio').removeClass('active');
    $('#navContacto').removeClass('active'); 
});
</script>