<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilomio.css">
    <link rel="stylesheet" href="/bootstrap-5.2.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/morris/morris.css">
    <script src="/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap-5.2.1-dist/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery-3.6.1.min.js"></script>
    <script src='/fullcalendar-6.0.0/dist/global.js'></script>
    <script src='/morris/morris.min.js'></script>
    <script src='/morris/raphael-min.js'></script>
    <title>&#169; Cabañas Manantial 7 Tazas</title>
</head>
<body>
    {{> navigation }}
    {{{ body }}}
</body>
</html>